@font-face {
    font-family: 'Helvetica';
    src: url('/assets/fonts/Helvetica.ttf');
}

html,
body {
    font-family: 'Helvetica' !important;
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    z-index: 1;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    border-bottom: 2px solid #03A9F4 !important;
}

.jumbotron {
    background-image: url('/assets/img/banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    margin-top: -140px;
}

.jumbotron .banner-text {
    margin-top: 350px;
}

.jumbotron h1 {
    font-size: 50px !important;
}

.jumbotron p {
    font-size: 18px;
}

.home-sticky-nav {
    border-bottom-color: rgba(122, 129, 137, 0.2);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: clamp(0px, 2.2vw, 35px);
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.home-sticky-nav a.sticky-nav-link {
    font-size: clamp(18px, 2.33vw, 28px);
    text-decoration: none;
    color: #7a8189;
    padding-top: 1.43em;
    padding-bottom: 1.43em;
    position: relative;
    transition-duration: 0.2s;
    line-height: 125%;
    font-weight: 700;
    width: auto;
    white-space: nowrap;
}

.sticky-nav-link:hover:after {
    transform: scaleX(1);
    opacity: 1;
}

.sticky-nav-link:after {
    transform: scaleX(0.3);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -1px;
    z-index: 1;
    height: 3px;
    width: 100%;
    background-color: #03A9F4;
    transition-duration: 0.2s;
    opacity: 0;
    content: "";
}

section {
    margin-top: 120px;
    margin-bottom: 120px;
}

.text-grey {
    color: #7A8189;
}

.text-dark-black {
    color: #1B1D1F !important;
}

h1 {
    font-size: 42px !important;
}

h2 {
    font-size: 28px !important;
}

h3 {
    font-size: 20px !important;
}

.col2-para {
    padding-left: 28px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(122, 129, 137, 0.5);
    margin-top: 0px;
    margin-bottom: clamp(30px, 4.9vw, 78px);
    line-height: 28px;
}

.ct-section-inner-wrap {
    padding-right: 20px;
    padding-left: 20px;
}

.bg-blue {
    background-color: #03A9F4 !important;
}

.btn-bg-blue {
    background-color: #03A9F4 !important;
}

.btn-bg-blue:hover {
    background-color: #0d92cf !important;
}

.line-height {
    line-height: normal;
}

.about img {
    margin-top: auto;
}

.footer {
    background-color: #111111;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #7A8189;
}

.footer-wrapper {
    padding-top: clamp(50px, 7.5vw, 120px);
    padding-bottom: clamp(50px, 6.3vw, 100px);
    padding-left: 20px;
    padding-right: 20px;
}

.footer-row-2 {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(154, 156, 181, 0.2);
    padding-top: clamp(20px, 2.7vw, 28px);
    padding-bottom: clamp(20px, 2.7vw, 28px);
}

.text-small {
    font-size: small;
}

.navbar-light {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-light.scrolled {
    background: #111111;
    transition: .5s ease-in-out;
}

.navbar-brand {
    display: block !important;
    margin: auto;
}


/* DESKTOP VERSION */
@media(min-width: 992px) {
    .jumbotron {
        margin-top: -75px;
    }

    .navbar-brand {
        display: none !important;
    }

    .about img {
        margin-top: -100px;
    }

    .line-height {
        line-height: 28px;
    }

    .navbar-light {
        position: fixed !important;
        top: 0;
        right: 0;
        left: 0;
    }

    .footer ul li {
        margin-bottom: 23px;
    }

    .footer ul li a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: #7A8189;
    }

}